{{- $work_name := promptStringOnce . "work_name" "Work full name" -}}
{{- $work_email := promptStringOnce . "work_email" "Work email address" -}}
{{- $work_pubkey := promptStringOnce . "work_pubkey" "Work SSH public key" -}}
[data]
    work_name = {{ $work_name | quote }}
    work_email = {{ $work_email | quote }}
    work_pubkey = {{ $work_pubkey | quote }}
