[user]
{{- if eq .chezmoi.hostname "Q15QL7NV2C" }}
  signingkey = {{ .work_pubkey }}
  name = {{ .work_name }}
  email = {{ .work_email }}
{{- end }}
{{- if eq .chezmoi.hostname "ambrosia" }}
  signingkey = {{ .personal_pubkey }}
  name = {{ .personal_name }}
  email = {{ .personal_email }}
{{- end }}

[core]
  pager = delta

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true # use n and N to move between diff sections
  light = false

[merge]
  conflictstyle = diff3

[diff]
  colorMoved = default

[push]
  autoSetupRemote = true

[gpg]
  format = ssh

[gpg "ssh"]
{{ if eq .chezmoi.os "darwin" }}
  program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
{{ end }}

[commit]
  gpgsign = true

{{ if eq .chezmoi.hostname "Q15QL7NV2C" }}
{{ onepasswordRead "op://Private/Dotfiles/git_config_url" }}
{{ end }}
